body{
    margin: 0;
}

div{
    box-sizing: border-box;
}

ul{
    padding: 0;
    margin: 0;
}

.clear-fix:before,.clear-fix:after{
    display: table;
    content: '';
    clear: both;
}

#modal{
    display: none;
}

.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: black;
    opacity: 0.5;
    filter:alpha(opacity=50);
}

.modal{
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal-content{
    margin: 10px auto;
    padding: 0 3%;
    width: 20%;
    background-color: #fff;
}

.modal-close{
    float: right;
    cursor: pointer;
}

.top{
    height: 50px;
    line-height: 50px;
}

.top-left{
    float: left;
}

.top-right{
    float: right;
}

.slidebar{
    float: left;
    width: 20%;
}

.slidebar-menu{
    color: darkred;
}

.slidebar-menu li{
    width: 100%;
    height: 30px;
    line-height: 30px;
    list-style: none;
    cursor: pointer;
}

.active{
    color: white;
    background-color: darkred;
}

.right-content{
    float: left;
    width: 75%;
}

.content-fisrt-row{
    width: 100%;
}

.content-second-row{
    width: 100%;
}

.map-content{
    width: 50%;
}

.map-title{
    width: 100%;
    height: 50px;
}

.map{
    width: 100%;
}

.calendar{
    width: 60%;
}

.calendar-title-name{
    float: left;
}

.calendar-title-btn{
    float: right;
}

.calendar-title-btn>button{
    float: right;
    border: 0;
    border-right: 1px solid;
}

.calendar-head{
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.btn-left,.btn-right{
    float: left;
    height: 100%;
    width: 3%;
    cursor: pointer;
}

.date-now{
    float: left;
    height: 100%;
    width: 94%;
    text-align: center;
}

.month-head{
    border-left: 1px solid;
}

.month-head>div{
    float: left;
    width: 14.28571429%;
    border-top: 1px solid;
    border-right: 1px solid;
    text-align: center;
    background-color: aquamarine;
}

.month-tab-content{
    border-top: 1px solid;
    border-left: 1px solid;
}

.date-box{
    float: left;
    width: 14.28571429%;
    border-bottom: 1px solid;
    border-right: 1px solid;
    text-align: right;
    overflow: hidden;
    cursor: pointer;
}

.week-head>div{
    float: left;
    width: 12.5%;
    border-top: 1px solid;
    border-right: 1px solid;
    text-align: center;
    background-color: aquamarine;
}