body{
    margin: 0;
    font-size: 20px;
    color: #666;
    font-family: '微软雅黑', 'Microsoft YaHei', 'Arial', 'sans-serif';
    background-image: url("../img/index_bg.png");
}

div,input,textarea{
    box-sizing: border-box;
}

input,option,textarea,select{
    font-family: '微软雅黑', 'Microsoft YaHei', 'Arial', 'sans-serif';
    font-size: 16px;
}

ul{
    padding: 0;
    margin: 0;
}

i{
    font-style: normal;
}

.clear-fix:before,.clear-fix:after{
    display: table;
    content: '';
    clear: both;
}

#modal{
    display: none;
}

.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: black;
    opacity: 0.5;
    filter:alpha(opacity=50);
}

.modal{
    position: fixed;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal h3{
    margin: 0;
    font-size: 30px;
    line-height: 50px;
}

.modal-content{
    margin: 20px auto;
    padding: 20px;
    width: 40rem;
    height: 90%;
    background-color: #fff;
    overflow: scroll;
}

.modal-close{
    float: right;
    cursor: pointer;
}

.modal-text{
    line-height: 40px;
}

.modal-body input, .modal-body textarea, .modal-body select{
    width: 20%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

.modal-theme input{
    width: 100%;
}

.modal-body textarea{
    height: 60px;
    width: 100%;
}

.modal-footer{
    margin-top: 15px;
    text-align: center;
}

.modal-footer button{
    height: 40px;
    width: 15%;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #51a2ff;
    font-size: 20px;
}

#modal_save{
    margin: 0 10px;
}

.top{
    height: 4rem;
    line-height: 4rem;
    background-image: url("../img/nav_bg.png");
}

.top-left{
    float: left;
    margin-left: 2rem;
    display: inline-block;
    height: 100%;
}

.top-left>img{
    height: 3.3rem;
    width: auto;
}

.top-right{
    float: right;
    height: 100%;
    margin-top: 0.5rem;
}

.top-right>div{
    float: right;
    position: relative;
    display: inline-block;
    height: 100%;
    width: 1.75rem;
    margin-right: 2rem;
}

.top-right>div>img{
    width: 100%;
    height: auto;
}

.top-right>.top-user{
    width: 2.9rem;
}

.top-info{
    position: absolute;
    right: -0.7rem;
    top: 0.3rem;
    width: 1.3rem;
    height: 1rem;
    border-radius: 5px;
    font-size: 13px;
    line-height: 1rem;
    text-align: center;
    color: #fff;
}


.top-info1{
    background-color: #ff6633;
 }

.top-info2{
    background-color: #339900;
}

.top-right>.top-manager{
    margin-top: 0.3rem;
    width: auto;
    line-height: 18px;
    font-size: 18px;
    text-align: center;
}

.top-bottom{
    height: 0.55rem;
    background-image: url("../img/nav_bt_bg.png");
}

.main{
    margin-top: 1.4rem;
}

.slidebar{
    float: left;
    width: 11.3rem;
    height: 100%;
    background-color: #fff;
}

.slidebar-menu{
    height: 100%;
    border-right: 1px solid #ccc;
}

.slidebar-menu li{
    width: 100%;
    border-bottom: 1px solid #ccc;
    vertical-align: middle;
    cursor: pointer;
}

.slidebar-menu>li{
    list-style: none;
}

.slidebar-menu a{
    display: block;
    width: 100%;
    height: 2.9rem;
    line-height: 2.9rem;
}

.slidebar-menu li:before,.slidebar-menu li:after{
    display: table;
    content: '';
    clear: both;
}

.slidebar-menu div{
    float: left;
}

.slidebar-menu div:first-child{
    display: inline-block;
    margin-left: 1.2rem;
    width: 2.2rem;
}

.slidebar-menu div:first-child+div{
    display: inline-block;
    text-align: right;
}

.slidebar-menu div:first-child+div+div{
    display: inline-block;
    width: 1.25rem;
    text-align: right;
}

.slidebar-menu div i{
    display: inline-block;
    height: 1.1rem;
    background-size: 100%;
}

.second-menu>li{
    height: 2.9rem;
    list-style: none;
    line-height: 2.9rem;
}

.second-menu{
    display: none;
}

.second-menu>li i{
    display: block;
    background: none !important;
    text-align: right;
}

.second-menu>li>a:hover{
    background-color: #f1f1f1;
    color: #cc0000;
}

.index i{
    width: 1.2rem;
    background-image: url("../img/left_icon_0.png");
}
.source i{
    width: 0.85rem;
    height: 1.15rem !important;
    background-image: url("../img/left_icon_b_01.png");
}
.data-statistic i{
    width: 1.1rem;
    background-image: url("../img/left_icon_b_02.png");
}
.book i{
    width: 0.8rem;
    background-image: url("../img/left_icon_b_03.png");
}
.information i{
    width: 1.15rem;
    background-image: url("../img/left_icon_b_04.png");
}
.history i{
    width: 1.45rem;
    background-image: url("../img/left_icon_b_05.png");
}

.ie8-back{
    background: none;
}

.index.ie8-back i{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/left_icon_0.png',sizingMethod='scale');
}
.source.ie8-back i{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/left_icon_b_01.png',sizingMethod='scale');
}
.data-statistic.ie8-back i{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/left_icon_b_02.png',sizingMethod='scale');
}
.book.ie8-back i{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/left_icon_b_03.png',sizingMethod='scale');
}
.information.ie8-back i{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/left_icon_b_04.png',sizingMethod='scale');
}
.history.ie8-back i{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/left_icon_b_05.png',sizingMethod='scale');
}

.active>a{
    color: #cc0000;
    background-color: #fcf6ef;
}

.cur-page>a{
    color: #fff;
    background-image: url("../img/left_tittle.png");
}

.index.active i{

}
.active.source i{
    background-image: url("../img/left_icon_01.png");
}
.active.data-statistic i{
    background-image: url("../img/left_icon_02.png");
}
.active.book i{
    background-image: url("../img/left_icon_03.png");
}
.active.information i{
    background-image: url("../img/left_icon_04.png");
}
.active.history i{
    background-image: url("../img/left_icon_05.png");
}

.active.source.ie8-back i{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/left_icon_01.png',sizingMethod='scale');
}
.active.data-statistic.ie8-back i{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/left_icon_02.png',sizingMethod='scale');
}
.active.book.ie8-back i{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/left_icon_03.png',sizingMethod='scale');
}
.active.information.ie8-back i{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/left_icon_04.png',sizingMethod='scale');
}
.active.history.ie8-back i{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/left_icon_05.png',sizingMethod='scale');
}


.right-content{
    float: left;
    margin-left: 3.15rem;
}

.content-fisrt-row{

}

.function-module{
    float: left;
    width: 36.55rem;
    border:1px solid #ccc;
}

.module-head{
    height: 2.85rem;
    line-height: 2.85rem;
    font-size: 20px;
    overflow: hidden;
    background: -webkit-linear-gradient(#f1f1f1, #dadada); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#f1f1f1, #dadada); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#f1f1f1, #dadada); /* Firefox 3.6 - 15 */
    background: linear-gradient(#f1f1f1, #dadada); /* 标准的语法 */
}

.ie-hack-gradient{
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType = 0, startColorstr = #f1f1f1, endColorstr = #dadada);
}

.module-head>div{
    float: left;
    display: inline-block;
    margin-left: 1.4rem;
}

.module-head>div:first-child{
    margin-top: 0.2rem;
}

.function-body{
    padding: 1.3rem 1.5rem;
    background-color: #fff;
}
.function-item-row:first-child{
    margin-bottom: 1.1rem;
}
.function-item{
    position: relative;
    float: left;
    width: 6.5rem;
    height: 4.65rem;
    margin-left: 2.4rem;
    padding-top: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    background-color: #f9f9f9;
    font-size: 16px;
    text-align: center;
}

.function-item-row>.function-item:first-child{
    margin-left: 0;
}

.function-item>.item-icon{
    display: inline-block;
}
.function-info{
    position: absolute;
    display: inline-block;
    right: -0.5rem;
    top: -0.5rem;
    width: 2.15rem;
    height: 1.7rem;
    line-height: 1.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.info-1{
    background-image: url("../img/sbg_01.png");
    background-repeat: repeat-x;
    color: #fff;
}
.info-2{
    background-image: url("../img/sbg_02.png");
    background-repeat: repeat-x;
    color: #fff;
}
.info-3{
    background-image: url("../img/sbg_03.png");
    background-repeat: repeat-x;
    color: #fff;
}
.info-4{
    background-image: url("../img/sbg_04.png");
    background-repeat: repeat-x;
    color: #fff;
}
.item-active{
    color: #cc0000;
    background-color: #fcf6ef;
}
.accept{
    background: url("../img/center_icon_b_01.png");
    background-size: 100%;
    width: 2.05rem;
    height: 2.05rem;
}
.item-active .accept{
    background: url("../img/center_icon_01.png");
    background-size: 100%;
}
.accept.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_b_01.png',sizingMethod='scale');
}
.item-active .accept.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_01.png',sizingMethod='scale');
}

.manage{
    background: url("../img/center_icon_b_02.png");
    background-size: 100%;
    width: 1.7rem;
    height: 2.1rem;
}
.item-active .manage{
    background: url("../img/center_icon_02.png");
    background-size: 100%;
}
.manage.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_b_02.png',sizingMethod='scale');
}
.item-active .manage.item-active.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_02.png',sizingMethod='scale');
}

.review{
    background: url("../img/center_icon_b_03.png");
    background-size: 100%;
    width: 1.8rem;
    height: 2.15rem;
}
.item-active .review{
    background: url("../img/center_icon_03.png");
    background-size: 100%;
}
.review.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_b_03.png',sizingMethod='scale');
}
.item-active .review.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_03.png',sizingMethod='scale');
}

.site{
     background: url("../img/center_icon_b_04.png");
     background-size: 100%;
     width: 1.95rem;
     height: 2rem;
 }
.item-active .site{
    background: url("../img/center_icon_04.png");
    background-size: 100%;
}
.site.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_b_04.png',sizingMethod='scale');
}
.item-active .site.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_04.png',sizingMethod='scale');
}

.expert-review{
    background: url("../img/center_icon_b_05.png");
    background-size: 100%;
    width: 2.55rem;
    height: 2.05rem;
}
.item-active .expert-review{
    background: url("../img/center_icon_05.png");
    background-size: 100%;
}
.expert-review.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_b_05.png',sizingMethod='scale');
}
.item-active .expert-review.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_05.png',sizingMethod='scale');
}

.result{
    background: url("../img/center_icon_b_06.png");
    background-size: 100%;
    width: 2.05rem;
    height: 2.05rem;
}
.item-active .result{
    background: url("../img/center_icon_06.png");
    background-size: 100%;
}
.result.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_b_06.png',sizingMethod='scale');
}
.item-active .result.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_06.png',sizingMethod='scale');
}

.project{
    background: url("../img/center_icon_b_07.png");
    background-size: 100%;
    width: 1.7rem;
    height: 2.1rem;
}
.item-active .project{
    background: url("../img/center_icon_07.png");
    background-size: 100%;
}
.project.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_b_07.png',sizingMethod='scale');
}
.item-active .project.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_07.png',sizingMethod='scale');
}

.other{
    background: url("../img/center_icon_b_08.png");
    background-size: 100%;
    width: 2.15rem;
    height: 2.15rem;
}
.item-active .other{
    background: url("../img/center_icon_08.png");
    background-size: 100%;
}
.other.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_b_08.png',sizingMethod='scale');
}
.item-active .other.ie8-back{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/center_icon_08.png',sizingMethod='scale');
}

.info-module{
    float: left;
    width: 38.1rem;
    margin-left: 3.15rem;
    border:1px solid #ccc;
}

.module-head>.info-more{
    float: right;
    font-size: 16px;
    margin-right: 1.4rem;
    cursor: default;
}

.info-body{
    padding: 0.9rem 0;
    background-color: #fff;
}

.info-row{
    padding: 0.9rem 0.9rem 0 0.9rem;
    height: 5.6rem;
}

.info-row:first-child{
    padding: 0 0.9rem 0.9rem 0.9rem;
    border-bottom: 1px dashed  #ccc;
}


.info-date{
    float: left;
    width: 4.7rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    text-align: center;
    overflow: hidden;
}

.info-date-day{
    height: 3rem;
    line-height: 3rem;
    background-color: #f9f9f9;
    font-size: 45px;
    color: #cc0000;
}

.info-date-month{
    height: 1.6rem;
    line-height: 1.6rem;
    background-color: #cc0000;
    color: #fff;
    font-size: 16px;
}

.info-text{
    float: left;
    margin-left: 1.1rem;
    width: 30rem;
    overflow: hidden;
}

.info-text>h3{
    margin: 0;
    font-size: 20px;
    line-height: 30px;
    cursor: default;
}

.info-text>h3:hover, .info-more:hover{
    color: #cc0000;
}

.info-text>p{
    margin: 0;
    height: 40px;
    font-size: 16px;
    text-align: justify;
}

.content-second-row{
    margin-top: 1rem;
}


.calendar{
    float: left;
    width: 36.55rem;
    height: 31rem;
    border:1px solid #ccc;
    border-right: none;
    background-color: #fff;
}

.calendar>.module-head{
    border-right: 1px solid #ccc;
}

.module-head>.calendar-title-btn{
    float: right;
    display: inline-block;
    margin-top: 0.5rem;
    margin-right: 1.4rem;
    height: 1.8rem;
    line-height: 1.8rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}

.calendar-title-btn>div{
    float: right;
    width: 3rem;
    background-color: #e5e5e5;
    cursor: pointer;
}

.calendar-title-btn>.calendar-btn-active{
    background-color: #e32525;
    color: #fff;
}

#calendar_week{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.calendar-tab{
    /*height: 25.15rem;*/
}

.calendar-head{
    height: 2.9rem;
    line-height: 2.9rem;
    text-align: center;
    padding: 0 1.4rem;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f3f3f3;
    font-size: 0;
}

.calendar-head img{
    width: 100%;
}

.btn-left,.btn-right{
    display: inline-block;
    cursor: pointer;
    width: 0.8rem;
}

.date-now{
    display: inline-block;
    width: 30rem;
    font-size: 20px;
}

.month-head{
    height: 2.4rem;
    line-height: 2.4rem;
    border-right: 1px solid #ccc;
    text-align: center;
    background-color: #ece9f1;
    color: #999;
}

.month-head>div{
    float: left;
    height: 100%;
    width: 14.28571429%;
    text-align: center;
}

.month-tab-content{
    border-top: 1px solid #ccc;
    max-height: 22.75rem;
    overflow-y: scroll;
}

.date-box{
    float: left;
    width: 14.28571429%;
    height: 4.55rem;
    padding: 0.4rem;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
}

.date-box>.date-content{
    position: relative;
    display: inline-block;
    line-height: 3.75rem;
    width: 100%;
    height: 100%;
    border-radius: 0.3rem;
    overflow: hidden;
    color: #333;
}

.date-text{
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    width: 100%;
    text-overflow: clip;
    white-space: nowrap;
}

.date-schedule{
    display: inline-block;
    overflow: hidden;
    font-size: 1rem;
    width: 4rem;
}

.schedule-level1{
    background-image: url("../img/dbg_01.png");
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    color: #fff !important;
}
.schedule-level2{
    background-image: url("../img/dbg_02.png");
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    color: #fff !important;
}
.schedule-level3{
    background-image: url("../img/dbg_03.png");
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    color: #fff !important;
}
.schedule-level4{
    background-image: url("../img/dbg_04.png");
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    color: #fff !important;
}

#calendar_week_tab{
    font-size: 16px;
}

.week-head{
    padding-top: 0.2rem;
    height: 2.4rem;
    line-height: 16px;
    overflow: hidden;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #ece9f1;
}

.week-head>div, .week-tab-content>div{
    float: left;
    width: 12.5%;
    border-right: 1px solid #ccc;
    text-align: center;
}

.week-tab-content>div{
    border-top: none;
}

.week-tab-content{
    max-height: 22.8rem;
    overflow-y: scroll;
}

.day-tab-content{
    max-height: 25.2rem;
    overflow-y: scroll;
}

.week-head>div{
    height: 100%;
    border-right: none;
}

.day-head>div, .day-tab-content>div{
    float: left;
    width: 80%;
    border-right: 1px solid #ccc;
    text-align: center;
}

.week-tab-col, .day-tab-col{
    position: relative;
}

.day-head>div:first-child, .day-tab-content>div:first-child{
    width: 20%;
}



.time-content{
    height: 2rem;
    border-bottom: 1px dotted #ccc;
}

.time-bro{
    height: 2rem;
    border-bottom: 1px solid #ccc;
}

.time-all-day{
    height: 4rem;
    line-height: 4rem;
    border-bottom: 1px solid #ccc;
}

.week-tab-content>.time-all-day{

}

.week-schedule{
    position: absolute;
    width: 100%;
}

.map-content{
    float: left;
    margin-left: 3.15rem;
    width: 38.1rem;
    height: 31rem;
}

.map{
    background-color: #fff;
}

#map{
    height: 28.15rem;
    width: 38.1rem;
}

.foot{
    margin: 1.4rem auto;
    text-align: center;
    font-size: 16px;
    color: #999;
}