body{
    /*margin: 0;*/
}

.clear-fix:before,.clear-fix:after{
    display: table;
    content: '';
    clear: both;
}

.map{
    width: 500px;
    height: 300px;
}

.calendar{
    width: 428px;
}

.calendar-head{
    height: 60px;
}

.date-now{
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.week{
    width: 100%;
    border-left: 1px solid;
}

.week>div{
    float: left;
    width: 60px;
    border-top: 1px solid;
    border-right: 1px solid;
    text-align: center;
    background-color: aquamarine;
}

.date-content{
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
}

.date-box{
    float: left;
    width: 60px;
    height: 60px;
    border-bottom: 1px solid;
    border-right: 1px solid;
    text-align: right;
}